<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Third Eye Project</title>
    <link rel="stylesheet" href="{% static 'css/style.scss' %}" />
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
    <div class="container">
        <section class="background">
          <div class="content-wrapper">
            <p class="content-title">Full Page Parallax Effect</p>
            <p class="content-subtitle">Scroll down and up to see the effect!</p>
          </div>
        </section>
        <section class="background">
          <div class="content-wrapper">
            <p class="content-title">Cras lacinia non eros nec semper.</p>
            <p class="content-subtitle">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras ut massa mattis nibh semper pretium.</p>
          </div>
        </section>
        <section class="background">
          <div class="content-wrapper">
            <p class="content-title">Etiam consequat lectus.</p>
            <p class="content-subtitle">Nullam tristique urna sed tellus ornare congue. Etiam vitae erat at nibh aliquam dapibus.</p>
          </div>
        </section>
      </div>
</body>
</html>